@use '@material/button/mdc-button';
@use '@material/button';

@include button.core-styles;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

$background-color: black;
$text-color: white;
$shadow: 0px 0px 5px black;

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    color: $text-color;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: $background-color;
    text-shadow: $shadow;
}

.home-content {
    padding: 32px;
    h1 {
        margin-bottom: 16px;
        font-size: 34px;
        font-weight: 600;
    }
    a {
        text-decoration: none;
        margin-left: 8px;
        vertical-align: middle;
    }
    .button-div {
        margin-top: 8px;
        margin-bottom: 8px;
        --mdc-theme-primary: rgb(139, 40, 219);
    }
    #start-lyrics {
        --mdc-theme-primary: rgb(44, 44, 44);
    }
    input {
        display: none;
    }
    
}

.lyrics {
    display: none;
    padding-top: 20vh;
    padding-bottom: 80vh;
    width: 80vw;
    margin: auto;
    transition-timing-function: cubic-bezier(.64,.13,.48,1);
    transition-duration: 500ms;
    p {
        font-size: 45px;
        font-weight: 600;
        padding: 16px 64px 16px 64px;
        opacity: 0.4;
        transform: scale(0.95);
        //transition-timing-function: cubic-bezier(.64,.13,.48,1);
        transition-duration: 500ms;
        cursor: pointer;
        filter: blur(2px);
    }
    .active {
        filter: blur(0px);
        transform: scale(1) translateX(2vw);
        opacity: 0.8;
    }
}

.background {
    filter: blur(200px);
    position: fixed;
    svg {
        transition-duration: 5s;
    }
    #blob1 {
        transform: translateX(50vw) translateY(-50vh);
    }
    #blob2 {
        transform: translateX(-20vw) translateY(-150vh);
    }
    #blob3 {
        transform: translateX(50vw) translateY(-200vh);
    }
    #blob4 {
        transform: translateX(-50vw) translateY(-280vh);
    }
}

@media only screen and (max-width: 1000px) {
    .lyrics {
        width: 95vw;
        p {
            font-size: 40px;
            padding: 16px 32px 16px 32px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .background {
        width: 850px;
    }
}