@use "@material/theme" with (
  $primary: rgb(139, 40, 219),
  $secondary: rgba(0, 255, 255, 0),
);
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/fab/mdc-fab";
@use "@material/ripple";
@include button.core-styles;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.mdc {
    @include ripple.surface;
    @include ripple.radius-bounded;
    @include ripple.states;
    overflow: hidden;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    color: white;
    transition-duration: 1s;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: black;
}

h1 {
    font-weight: 600;
}

.wrapper {
    position: relative;
    margin: 32px;
}

.main {
    z-index: 1;
    h1 {
        margin-bottom: 16px;
        font-size: 34px;
    }
    a {
        text-decoration: none;
        margin-left: 8px;
        vertical-align: middle;
    }
    .button-div {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    #start-lyrics {
        --mdc-theme-primary: rgb(44, 44, 44);
    }
    input {
        display: none;
    }
}

.lyrics {
    z-index: 2;
    display: none;
    position: absolute;
    p {
        font-weight: 600;
        opacity: 0.4;
        transform: scale(0.95);
        transition-duration: 500ms;
        cursor: pointer;
    }
    .inactive {
        filter: blur(2px);
    }
    .active {
        filter: blur(0px);
        transform: scale(1) translateX(1.5vw);
        opacity: 0.8;
    }
}

.background {
    width: 100vw;
    height: 100vh;
    filter: blur(200px);
    position: fixed;
    svg {
        transition-duration: 15s;
    }
    .blob1path, .blob2path, .blob3path, .blob4path { 
        fill: transparent;
    }
}

.main, .overlay {
    position: absolute;
    left: 0px;
}

.main, .lyrics, .song-info{
    top: 0px;
}

.controls {
    bottom: 0px;
}

.overlay {
    width: 40vw;
    position: fixed;
    z-index: 3;
    transition-duration: 1s;
    visibility: hidden;
}

.song-info {
    img {
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.493);
        border-radius: 10px;
        width: 25vw;
        height: 25vw;
        margin-right: 16px;
    }
}

.controls {
    bottom: 0;
    .playpause {
        margin: 0px 16px;
    }
}