@use "@material/theme" with (
    $primary: rgb(139, 40, 219),
    $secondary: rgb(0, 0, 0, 0)
);
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/fab/mdc-fab";
@use "@material/ripple";
@use "@material/textfield";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield/icon";
@use "@material/linear-progress/mdc-linear-progress";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@use "@material/list";

@include icon.icon-core-styles;
@include textfield.core-styles;
@include button.core-styles;
@include list.core-styles;

@import "@material/theme/mdc-theme";
@import "@material/theme/mixins";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.mdc {
    @include ripple.surface;
    @include ripple.radius-bounded;
    @include ripple.states;
    overflow: hidden;
}

.mdc-tab-bar {
    --mdc-theme-primary: white;
    .mdc-tab__text-label, .mdc-tab__icon {
        color: white;
    } 
}

.mdc-list-item__secondary-text {
    color: white;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    color: white;
    transition-duration: 1s;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: black;
}

h1 {
    font-weight: 600;
}

.wrapper {
    position: relative;
    padding: 32px;
}

.main {
    border-radius: 16px;
    margin: 32px;
    padding: 32px;
    background-color: rgba($color: #000000, $alpha: 0.6);
    z-index: 1;
    h1 {
        margin-bottom: 16px;
        font-size: 40px;
    } 
    .text {
        margin-left: 8px;
        vertical-align: middle;
    }
    .local-song {
        margin-top: 8px;
        display: inherit;
        input {
            display: none;
        }
        .button-div {
            margin-bottom: 8px;
        }
    }
    .start-lyrics {
        --mdc-theme-primary: rgb(44, 44, 44);
        display: none;
    }
    .mdc-linear-progress {
        --mdc-theme-primary: white;
        display: none;
    }
    .search {
        margin-top: 8px;
        display: none;
        p {
            margin-bottom: 8px;
        }
        .search-results {
            overflow-y: auto;
            max-height: 57vh;
        }
        img {
            margin-left: -8px;
            margin-right: 16px;
            border-radius: 8px;
            width: 50px;
            height: 50px;
        }
    }
    .loading {
        display: none;
        text-align: center;
        p {
            margin: 8px;
        }
        .go-back {
            display: none;
            margin-bottom: 8px;
        }
    }
}

.lyrics {
    z-index: 2;
    display: none;
    position: absolute;
    p {
        font-weight: 600;
        opacity: 0.4;
        transform: scale(0.95);
        transition-duration: 500ms;
        cursor: pointer;
    }
    .inactive {
        filter: blur(2px);
    }
    .active {
        filter: blur(0px);
        transform: scale(1) translateX(1.5vw);
        opacity: 0.8;
    }
}

.background {
    width: 100vw;
    height: 100vh;
    filter: blur(200px);
    position: fixed;
    svg {
        transition-duration: 15s;
    }
    .blob1path { fill: indigo }
    .blob2path { fill: red } 
    .blob3path { fill: orange } 
    .blob4path { fill: pink } 
}

.main, .overlay {
    position: absolute;
    left: 0px;
}

.main, .lyrics, .song-info{
    top: 0px;
}

.controls {
    bottom: 0px;
}

.overlay {
    width: 40vw;
    position: fixed;
    z-index: 3;
    transition-duration: 1s;
    visibility: hidden;
}

.song-info {
    img {
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.493);
        border-radius: 10px;
        width: 25vw;
        height: 25vw;
    }
}

.controls {
    bottom: 0;
    .playpause {
        margin: 0px 16px;
    }
}